<nav class="sticky-top site-nav d-flex">
    <div class="container navbar navbar-light align-self-center">
        <div class="navbar-brand">
            <a class="nav-link active" href="/">
                <img src="/images/logo.png" alt="">
            </a>
        </div>
        <ul class="nav justify-content-end">
            {{ range .Site.Menus.main }}
            <li class="nav-item">
                <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
        </ul>
    </div>
</nav>