<nav class="navbar navbar-expand-lg site-nav">
    <div class="container navbar align-self-center">
        <a class="navbar-brand" href="#">
            <img src="/images/logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {{ range .Site.Menus.main }}
                <li class="nav-item mr-5">
                    <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</nav>